extends layout
block content
  link(rel='stylesheet', href='/stylesheets/admindashboard.css')
  script.
    var groupblocktemplate = "<div class='col-sm-2'><button class='btn btn-default' onclick='selectgroup(\"{groupnum1}\")'>"+
                              "{groupnum2} 组</button></div>";
    var leaguenode = {group:[]};
    var lgid = "!{leagueid}"
    function isNaN(val) { 
       return val.match(new RegExp("^[0-9]+$"));
    } 
    var dict = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]
    function addgroup(){

      var mark = leaguenode.group.length;
      var newgroupname = dict[mark];
      var gpblock = groupblocktemplate.replace('{groupnum1}',newgroupname).replace('{groupnum2}',newgroupname);
      $.ajax({
          url:"/admin/addgroup",
          type:"POST",
          data:{"groupname":newgroupname,"leagueid":lgid},
          dataType:"json",
          success:function(data){
            $("#grouplistpanel").append(gpblock)
            var group = {name:dict[mark],members:[]}
            leaguenode.group.push(group)
          }
          })
      
    }
    function savegroup(){
      var groupdata = {};
      var recentgroup = $("#renctgroupname").val();
      if(parseInt(recentgroup) == 0){
        alert("请选择一下小组!")
      }else{
        $.each(leaguenode.group,function(index,value){
          if(value.name == recentgroup){
              groupdata = value;
          }
          })
        $.ajax({
            url:"/admin/savegroup",
            type:"POST",
            data:{"groupdata":groupdata,"leagueid":lgid},
            dataType:"json",
            success:function(data){
              alert(data.status)
            }
            })
      }
    }
    var trtemplate = "<tr><td>{no}</td><td>{playername}</td><td>{qq}</td><td>"+
    "<button class='btn btn-warining' onclick='deletethismem(\"{delgno}:{delmno}\")'>-</button></td></tr>";

    function selectgroup(groupnum){
      $("#groupmembers>tbody").empty()
      $("#renctgroup").html(groupnum+"组名单")
      $("#renctgroupname").val(groupnum)
      
      $.each(leaguenode.group,function(index,value){
          if(value.name == groupnum)
            if(value.members){
              $.each(value.members,function(i,v){
              var membertr = trtemplate.replace('{playername}',v.playername)
                                        .replace('{qq}',v.playerqq)
                                        .replace('{no}',i+1)
                                        .replace('{delgno}',index)
                                        .replace('{delmno}',i)
              $("#groupmembers>tbody").append(membertr);
              })
            }
            
        })
    }
    function deletethismem(no){
      var nos = no.split(":");
      leaguenode.group[nos[0]].members.splice(nos[1],1);
      var groupname = $("#renctgroupname").val()
      selectgroup(groupname)
    }
    var membersnode = []
    //pagination params
    var pagesize = 20;
    var totalmember = 0;
    var loadmembers = function(){
       $.ajax({
          url:"/admin/getplayerlist",
          type:"GET",
          data:{},
          dataType:"json",
          success:function(data){
            membersnode = data;
            totalmember = data.length;
            $("#memberpagination").empty();
            $("#memberpagination").append('<li><a href="#">&laquo;</a></li>');
            var maxpage = (totalmember%pagesize) != 0?totalmember/pagesize+1:totalmember/pagesize
            for(var i=1;i<=maxpage;i++){
              $("#memberpagination").append('<li><a href="javaScript:changememberpage('+i+')">'+i+'</a></li>');
            }
            $("#memberpagination").append('<li><a href="#">&raquo;</a></li>');
            changememberpage(1)
          }
          })
    }

    var playertemplate = "<tr><td><input type='checkbox' name='selectmemeber' value='{playerid}:{index}'></td><td>{playername}</td><td>{qq}</td></tr>";

    function changememberpage(num){
      $("#gourpeditpanel>tbody").empty()
      var from = (num-1)*pagesize + 1;
      var until = num*pagesize>totalmember?totalmember:num*pagesize;
      for(var i=from-1;i<until;i++){
        var value = membersnode[i];
        var template1 = playertemplate.replace('{playerid}',value.playerid).replace('{index}',i).replace('{playername}',value.playername).replace('{qq}',value.playerqq);
        $("#gourpeditpanel>tbody").append(template1);
      }
      $("#memberpagination>li").removeClass("active");
      $("#memberpagination>li:has(a:contains("+num+"))").addClass("active");
    }
    function addmembertogroup(){
      var groupname = $("#renctgroupname").val()
      if(parseInt(groupname) == 0){
        alert("请选择一下小组!")
      }else{
        $("input[name='selectmemeber']:checked").each(function(i){
          var mixid = $(this).val();
          var ids = mixid.split(":")
          $.each(leaguenode.group,function(index,value){
              if(value.name == groupname){
                value.members.push(membersnode[ids[1]]);
              }
            })
          
        })
        
        selectgroup(groupname);
      }
      
    }
    var loadgroup = function(leagueid){
      $.ajax({
          url:"/admin/getgroups?leagueid=1",
          type:"GET",
          dataType:"json",
          success:function(data){ 
            var tempdata = {};
            $.each(data,function(index,value){

               if(tempdata[value.groupname] == undefined){
                  tempdata[value.groupname] =[]
                  tempdata[value.groupname].push(value);
               }else{
                  tempdata[value.groupname].push(value);
               }
              })
            $.each(tempdata,function(index,value){
              if(value != undefined){
                var gpblock = groupblocktemplate.replace('{groupnum1}',index).replace('{groupnum2}',index);
                $("#grouplistpanel").append(gpblock)
                var gnode = {name:index,members:[]}
                if(value[0].playerid != null){
                  gnode.members = value;
                }
                leaguenode.group.push(gnode)
              }
              })
          }
          })
    }
    $(function(){
      
      loadmembers()
      loadgroup(lgid)
      })
  .container-fluid
    .row
      include adminsidebar
      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
        input#leagueid(type="hidden" value="#{leagueid}")
        h1.page-header 赛事管理
        .row
          .col-xs-4.col-xs-offset-1
            form#insertplayer.form-horizontal(role="form")
              .form-group
                label.col-sm-2.control-label(for="playername") 名字
                .col-sm-10
                  p.form-control-static #{leaguename}
              .form-group
                label.col-sm-2.control-label(for="playerqq") 赛制
                .col-sm-10
                  p.form-control-static 双循环
              .form-group
                label.col-sm-2.control-label(for="playerqq") 小组
                .col-sm-2
                  button.btn.btn-primary(type="button" onclick="addgroup()") 添加
            .row
              p Group list
            #grouplistpanel.row
            .row(style="border-top:1px solid;margin-top:15px;")
              .col-xs-4
                h3#renctgroup
                  
              input#renctgroupname(type="hidden" value="0")
              table.table.table-striped#groupmembers
                thead
                  tr
                    th #
                    th 选手
                    th qq
                    th
                      button.btn.btn-success(onclick="savegroup()") 保存
                tbody

          .col-xs-4.col-xs-offset-1
            table.table.table-striped#gourpeditpanel
              thead
                tr
                  th 
                  th 选手
                  th qq
              tbody
            .col-xs-4.col-xs-offset-4
              button.btn.btn-success(onclick="addmembertogroup()") <= 添加
            .col-xs-10.col-xs-offset-2
              ul.pagination#memberpagination
      button.btn.btn-success.btn-lg(onclick="createleague()")
              