extends layout
block content
  //- nav.navbar.navbar-default( role="navigation")
  //-   div.container-fluid
  //-     a.navbar-brand(href="#") Brand
  div.container
    div.row
      div.col-xs-12
        h1 Match result
    div.row
      div.col-xs-12
        div.panel.info
          div.panel-heading GOURP A
          div.panel-body
            table.table.table-striped
              tr
                td A
                td blo
                td container


  
