doctype html
html
  head
    title= title
    script(src='/js/jquery11.1.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-3.2.0-dist/css/bootstrap.min.css')
    script(src='/stylesheets/bootstrap-3.2.0-dist/js/bootstrap.min.js')
  body
    .navbar.navbar-default.navbar-static-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
           img(src="/images/juventus.jpg" height="50px" width="50px")
          //a.navbar-brand(href='#') Project name
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') 首页
            li
              a(href='#about') Recent match
            li
              a(href='#contact') Contact
            
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') About
            li
              a(href='#') BBS
            -if (userid)
              li 
                a Welcome 
                  Strong #{username}
              li
                a(href='/admin')
                  button.btn.btn-success.btn-xs 管理中心
              li
                a(href='/logout')
                  button.btn.btn-warning.btn-xs 登出
            -else
              li
                a(href='/admin') 管理中心
    block content
