extends layout
block content
  link(rel='stylesheet', href='/stylesheets/admindashboard.css')
  script.
    function showAddLeaguePage(){
      $("#insertleague input[type=text]").val("");
      $("#addLeagueModel").modal('show');
    }
    function addLeague(){
      var leaguename = $.trim($("#leaguename").val())
      var description = $.trim($("#description").val())
      if(leaguename!=""){
        $.ajax({
          url:"/admin/createLeague",
          type:"POST",
          data:{"leaguename":leaguename,"description":description},
          dataType:"json",
          success:function(data){
            $("#addLeagueModel").modal('hide');
            getleagues();
          }
          })
      }
    }
    var trtemplate = "<tr><td>{no}</td><td>{leaguename}</td><td>{mode}</td><td>{status}</td>"+
                  "<td><a class='btn btn-primary' href='/admin/leaguedetail?id={leagueid}'>详细</a></td>";
                    //- "<td><a class='btn btn-primary' href='/admin/editleague?id={leagueid}&name={leaguename2}'>Group</a></td>";
                    //- "<td><a class='btn btn-primary' href='/admin/editagenda?id={leagueid2}&name={leaguename3}'>赛程</a></td></tr>";
    var getleagues = function(){
        $.ajax({
          url:"/admin/getleaguelist",
          type:"GET",
          data:{},
          dataType:"json",
          success:function(data){
            $("#leaguelisttable>tbody").empty()
            $.each(data,function(index,value){
              var template1 = trtemplate.replace('{no}',index)
                                        .replace('{leaguename}',value.name)
                                        .replace('{mode}',value.mode)
                                        .replace('{status}',value.status)
                                        .replace('{leagueid}',value.id)
                                        .replace('{leaguename2}',value.name)
                                        .replace('{leagueid2}',value.id)
                                        .replace('{leaguename3}',value.name)
                                          
              $("#leaguelisttable>tbody").append(template1)
              })
          }
          })
    }
    $(function(){
      getleagues();
      })
  .modal.fade#addLeagueModel
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') &times;
            span.sr-only Close
          h4.modal-title 新赛事
        .modal-body
          form#insertplayer.form-horizontal(role="form")
              .form-group
                label.col-sm-2.control-label(for="playername") 名字
                .col-sm-10
                  input#leaguename.form-control(type="text" placeholder="Enter name")
              .form-group
                label.col-sm-2.control-label(for="description") 备注
                .col-sm-10
                  input#description.form-control(type="text" placeholder="Enter name")
              .form-group
                label.col-sm-2.control-label(for="playerqq") 赛制
                .col-sm-10
                  p.form-control-static 双循环
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button' onclick="addLeague()") Save changes
  .container-fluid
      .row
        include adminsidebar
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          h1.page-header League Management
            button.btn.btn-success.pull-right(onclick="showAddLeaguePage()") 添加赛事
          .row.placeholders
            .col-xs-6.col-sm-3
              img(src='/images/fifalogo.jpg', alt='soccer' height="100px") 
              h4 Play number
              span.vsfont 40
            .col-xs-3.col-sm-3
   
          h2.sub-header 赛事列表
          .table-responsive
            table.table.table-striped#leaguelisttable
              thead
                tr
                  th #
                  th 赛事名字
                  th 赛制
                  th 状态
                  th
              tbody
                
