extends layout
block content
  link(rel='stylesheet', href='/stylesheets/admindashboard.css')
  script.
    function showAddLeaguePage(){
      $("#insertleague input[type=text]").val("");
      $("#addLeagueModel").modal('show');
    }
    function addLeague(){
      var playername = $.trim($("#playername").val())
      var playerqq = $.trim($("#playerqq").val())
      if(playername!=""&&playerqq!=""){
        $.ajax({
          url:"/admin/createplayer",
          type:"POST",
          data:{"playername":playername,"playerqq":playerqq},
          dataType:"json",
          success:function(data){
            getplayers(1);
          }
          })
      }
    }
    var trtemplate = "<tr><td>{no}</td><td>{playername}</td><td>{qq}</td><td>{matchsum}</td></tr>";
    var getleagues = function(){
        $.ajax({
          url:"/admin/getleaguelist",
          type:"GET",
          data:{},
          dataType:"json",
          success:function(data){
            $("#playerlisttable>tbody").empty()
            $.each(data,function(index,value){
              var template1 = trtemplate.replace('{no}',index).replace('{playername}',value.name).replace('{qq}',value.qq).replace('{matchsum}',0)
              $("#playerlisttable>tbody").append(template1)
              })
          }
          })
    }
    $(function(){
      })
  .modal.fade#addLeagueModel
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') &times;
            span.sr-only Close
          h4.modal-title New League
        .modal-body
          form#insertleague(role="form")
              .form-group.text-left
                label(for="leaguename") league name
                input#leaguename.form-control(type="text" placeholder="Enter name")
              .form-group.text-left
                label(for="playerqq") Groups
                input#leaguegroup.form-control(type="text" placeholder="Group number")
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button' onclick="addLeague()") Save changes
  .container-fluid
      .row
        include adminsidebar
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          h1.page-header League Management
            button.btn.btn-success.pull-right(onclick="showAddLeaguePage()") Add League
          .row.placeholders
            .col-xs-6.col-sm-3
              img(src='/images/fifalogo.jpg', alt='soccer' height="100px") 
              h4 Play number
              span.vsfont 40
            .col-xs-3.col-sm-3
              
             
                     
          h2.sub-header Play list
          .table-responsive
            table.table.table-striped#playerlisttable
              thead
                tr
                  th #
                  th Player name
                  th qq
                  th Played match
              tbody
                
