extends layout
block content
  link(rel='stylesheet', href='/stylesheets/admindashboard.css')
  script.
    function addplayer(){
      var playername = $.trim($("#playername").val())
      var playerqq = $.trim($("#playerqq").val())
      if(playername!=""&&playerqq!=""){
        $.ajax({
          url:"/admin/createplayer",
          type:"POST",
          data:{"playername":playername,"playerqq":playerqq},
          dataType:"json",
          success:function(data){
            getplayers(1);
          }
          })
      }
    }
    var trtemplate = "<tr><td>{no}</td><td>{playername}</td><td>{qq}</td><td>{matchsum}</td></tr>";
    var getplayers = function(league){
        $.ajax({
          url:"/admin/getplayerlist",
          type:"GET",
          data:{},
          dataType:"json",
          success:function(data){
            $("#totalplayernum").html(data.length)
            $("#playerlisttable>tbody").empty()
            $.each(data,function(index,value){
              var template1 = trtemplate.replace('{no}',index).replace('{playername}',value.playername).replace('{qq}',value.playerqq).replace('{matchsum}',0)
              $("#playerlisttable>tbody").append(template1)
              })
          }
          })
    }
    $(function(){
      getplayers(1);
      })
  .container-fluid
      .row
        include adminsidebar
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          h1.page-header Dashboard
          .row.placeholders
            .col-xs-6.col-sm-3
              img(src='/images/soccer.jpg', alt='soccer' height="100px") 
              h4 Total players
              span.vsfont#totalplayernum 40
            .col-xs-3.col-sm-3
              form#insertplayer(role="form")
                .form-group.text-left
                  label(for="playername") Play name
                  input#playername.form-control(type="text" placeholder="Enter name")
                .form-group.text-left
                  label(for="playerqq") QQ
                  input#playerqq.form-control(type="text" placeholder="Enter name")
              button.btn.btn-success(onclick="addplayer()") Add Player
                     
          h2.sub-header Play list
          .table-responsive
            table.table.table-striped#playerlisttable
              thead
                tr
                  th #
                  th Player name
                  th qq
                  th Played match
              tbody
                
