extends layout
block content
  link(rel='stylesheet', href='/stylesheets/admindashboard.css')
  script.
    var lgid = "!{leagueid}"
    var groupnode = [];
    var matchlisttemplate = "<tr class='{trclass}'><td>{no}</td><td>{homeplayer} <-> {awayplayer}</td><td>{score}</td><td>"+
    "</td></tr>";
    function getagenda(group){
      $.ajax({
          url:"/getagenda",
          type:"POST",
          data:{"groupid":group,"leagueid":lgid},
          dataType:"json",
          success:function(data){
            var memberlist = data.members;
            var agenda = data.agenda;
            $("#agendatable>tbody").empty();
            $("#matchlisttable>tbody").empty();
            if(agenda.length == 0){
             return false;
            }
            var headtr = "<tr><td class='agendatdname_unneed'>###</td>";
            $.each(memberlist,function(index,value){
              headtr = headtr + "<td class='agendatdname'>" + value.playername + "</td>"
              })
            headtr = headtr + "</td>";
            $("#agendatable>tbody").append(headtr);
            
            $.each(memberlist,function(index,value){
              var tabletr =  "<tr>";
              tabletr = tabletr + "<td class='agendatdname'>" + value.playername + "</td>"
              $.each(memberlist,function(i,v){
                if(value.playerid == v.playerid){
                  tabletr = tabletr + "<td class='agendatdname_unneed'>###</td>"
                }{
                  $.each(agenda,function(ai,av){
                    if(av.homeplayerid == value.playerid&&av.awayplayerid == v.playerid){
                      if(av.homescore == -1){
                        tabletr = tabletr + "<td class='agendatdname_unfinish'>未赛</td>"
                      }else{
                        tabletr = tabletr + "<td>" + av.homescore + "-" + av.awayscore + "</td>"
                      }
                    }
                  })
                }
                  
                })
              tabletr = tabletr + "</td>";
              $("#agendatable>tbody").append(tabletr);
              })
            
            $.each(agenda,function(index,v){
                var score = "no";
                var trclass = ""
                if(v.homescore!=-1){
                  score = v.homescore+"-"+v.awayscore;
                  trclass = "success"
                }
                var matchtr = matchlisttemplate.replace('{no}',index)
                                                .replace('{homeplayer}',v.homeplayername)
                                                .replace('{awayplayer}',v.awayplayername)
                                                .replace('{score}',score)
                                                .replace('{trclass}',trclass) 
                                                .replace('{matchid}',v.matchid)
                                                .replace('{homeplayerid}',v.homeplayerid)
                                                .replace('{awayplayerid}',v.awayplayerid)
                $("#matchlisttable>tbody").append(matchtr);
              })

            }
          })
    }

    var groupblocktemplate = "<div class='col-sm-2'><button class='btn btn-default' onclick='selectgroup(\"{groupid}\")'>"+
                              "{groupnum} 组</button></div>";
    var loadgroup = function(leagueid){
      $.ajax({
          url:"/getbasicgroup",
          type:"POST",
          data:{"leagueid":lgid},
          dataType:"json",
          success:function(data){ 
            groupnode = data;
            $.each(data,function(index,value){
              
              var gpblock = groupblocktemplate.replace('{groupid}',value.groupid).replace('{groupnum}',value.groupname);
              $("#grouplistpanel").append(gpblock)
            })
            if(data.length>0){
              selectgroup(data[0].groupid);
            }
          }
          })
    }

    function selectgroup(groupid){
      getagenda(groupid);

      $.each(groupnode,function(index,value){
          if(value.groupid == groupid){
            $("#renctgroup").empty().html(value.groupname+" 组")
            $("#renctgroupname").val(groupid)
          }

        })
    }
    $(function(){
      loadgroup();
      })
  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1
        input#leagueid(type="hidden" value="#{leagueid}")
        h1.page-header League Management
        form#insertplayer.form-horizontal(role="form")
          .form-group
            label.col-sm-2.control-label(for="playername") Name
            .col-sm-10
              p.form-control-static #{leaguename}
          .form-group
            label.col-sm-2.control-label(for="playerqq") 赛制
            .col-sm-10
              p.form-control-static 双循环
        #grouplistpanel.row(style="margin-bottom:15px;")
        input#renctgroupname(type="hidden" value="0")     
        .row
          .col-xs-12
            .panel.panel-default
              .panel-heading#renctgroup Group A
              .panel-body
                table.table.text-center.table-bordered#agendatable(style="table-layout:fixed")
                  tbody
                table.table.table-striped#matchlisttable
                  thead
                    th #
                    th 对阵
                    th 比分
                    th
                  tbody

